/* ===========================
        GOOGLE FONT
=========================== */

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;700&display=swap');

/* ===========================
        COLOR
=========================== */

:root{

    --primary:#4FC3F7;
    --secondary:#1976D2;
    --light:#E3F2FD;
    --white:#ffffff;
    --text:#263238;
    --card:#ffffff;

    --shadow:0 0 20px rgba(79,195,247,.35);

}

/* ===========================
        RESET
=========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Kanit",sans-serif;
}

body{

    background:var(--light);
    color:var(--text);

}

html{

scroll-behavior:smooth;

}

/* ===========================
        NAVBAR
=========================== */

nav{

display:flex;

justify-content:space-between;

align-items:center;

padding:20px 8%;

background:white;

position:fixed;

width:100%;

box-shadow:0 5px 20px rgba(0,0,0,.08);

z-index:999;

}

.logo{

font-size:30px;

font-weight:bold;

color:var(--secondary);

}

nav ul{

display:flex;

list-style:none;

gap:35px;

}

nav a{

text-decoration:none;

color:#333;

transition:.3s;

font-weight:500;

}

nav a:hover,

nav a.active{

color:var(--primary);

}
